{% extends 'layouts.html' %}

{% block content %}

{% load static %}

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<section class="image-cover faq-sec text-center" style="background:url({% static 'assets/img/bg.jpg' %}) no-repeat;" data-overlay="6">
				<div class="container">
					<div class="row">

						<div class="col-lg-12 col-md-12">
							<h1 class="text-light">Frequently Asked Questions</h1>
							<!-- <div class="faq-search">
								<form>
									<input name="search" class="form-control" placeholder="Search Your Query...">
									<button type="submit"> <i class="ti-search"></i> </button>
								</form>
							</div> -->
						</div>

					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ================= Our Mission ================= -->
			<section>
				<div class="container">

					<div class="row">

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="contact-box">
								<i class="ti-user theme-cl"></i>
								<h4>Contact Agent</h4>
								<p><a href="#" class="__cf_email__" data-cfemail="dcafbdb0b9af9caeb5b7bdb8bdb4b9b0acf2bfb3f2a9b7">[email&#160;protected]</a></p>
								<span>+2348118722574</span>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="contact-box">
								<i class="ti-user theme-cl"></i>
								<h4>Contact Admin</h4>
								<p><a href="mailto:eugene@fibiachomes.com" class="__cf_email__">eugene@fibiachomes.com</a></p>
								<span>+234 902 619 0497</span>
							</div>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="contact-box">
								<i class="ti-comment-alt theme-cl"></i>
								<h4>Start Live Chat</h4>
								<span>+234 902 619 0497</span>
								<a href="https://chat.whatsapp.com/DraSAmPFe3wG7i8saJDRdZ"><span class="live-chat">Live Chat</span></a>
							</div>
						</div>

					</div>

					<div class="row">

						<div class="col-lg-10 col-md-12 col-sm-12">

							<div class="block-header">
								<ul class="nav nav-tabs customize-tab" id="myTab" role="tablist">
								  <li class="nav-item">
									<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
								  </li>

								  <li class="nav-item">
									<a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Owners</a>
								  </li>

								  <li class="nav-item">
									<!-- <a class="nav-link" id="upgrade-tab" data-toggle="tab" href="#upgrade" role="tab" aria-controls="upgrade" aria-selected="false">Tenants</a> -->
								  </li>

								</ul>
							</div>

							<div class="tab-content" id="myTabContent">

								<!-- general Query -->
								<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">

									<div class="accordion" id="generalac">
										<div class="card">
											<div class="card-header" id="headingOne">
											  <h2 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												  Safety and Security
												</button>
											  </h2>
											</div>

											<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#generalac">
											  <div class="card-body">
												<p class="ac-para">fibiachomes properties are located in various areas across port harcourt. In order to maintain a peaceful environment, anything that may be or may become a nuisance or annoyance in the form of noise (e.g. loud music, strident noise, quarrels) smell, fumes, smoke, or that may interfere with the quiet enjoyment of neighboring premises by the Landlord and other occupants, and consumption of illegal and banned substances are not allowed in fibiachomes properties. Internal issues/ fights among the tenants are better resolved among tenants. Involvement of fibiachomes is not beneficial and hence undesirable. In the event tenant breaks any rules as stipulated herein or as contained in the contract agreement, fibiachomes on behalf of the Landlord, reserves the right to, issue appropriate notice including but not limited to Eviction notice to the tenant.</p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												  Getting Started
												</button>
											  </h2>
											</div>
											<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#generalac">
											  <div class="card-body">
												<p class="ac-para">What is fibiachomes?
port harcourt Ltd. is a prop-tech platform providing a unique rental solution to Nigerians in order to improve home-seekers rental experience and increase home-owners occupancy rate.

<br><b>What do we do?</b><br>
fibiachomes on-boards owners and their houses and rents them out to tenants. fibiachomes provides convenience to the owner in terms of showing the house to potential tenants, rent collection and service and maintenance of the property.

<br><b>How it works?</b><br>Once you’ve listed your property and share your details on our website, a fibiachomes representative will get in touch with you to arrange for Inspection and signing of rental agreement.
Voila, you are now a part of the fibiachomes family. We will arrange for professional photos of your house to be taken, then publish on our website for prospective tenants to book on-demand.</p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												  Property Inspection
												</button>
											  </h2>
											</div>
											<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#generalac">
											  <div class="card-body">
												<p class="ac-para"><b>Why does fibiachomes perform a house inspection?</b><br>
fibiachomes performs inspection on all prospective houses. This is done in order to check if the house meets the fibiachomes standards.
<br><b>What does fibiachomes look for during house inspection?</b><br>
fibiachomes checks if the house is as stated by the owner, is in a livable condition and is in a safe neighborhood.</p>
											  </div>
											</div>
										</div>
									</div>

								</div>

								<!-- general Query -->
								<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">

									<div class="accordion" id="paymentac">
										<div class="card">
											<div class="card-header" id="headingOne1">
											  <h2 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#paymentcollapse" aria-expanded="true" aria-controls="paymentcollapse">
												  List My Property
												</button>
											  </h2>
											</div>

											<div id="paymentcollapse" class="collapse show" aria-labelledby="headingOne1" data-parent="#paymentac">
											  <div class="card-body">
												<p class="ac-para"><h2 id="list-my-property"><span style="color: #00cda6;">List My Property</span></h2>
<h3>How do I reach out to fibiachomes to list my property?</h3>
<p>Visit www.fibiachomes.com and click list your property on the &#8220;Homepage&#8221; or call us on 070 8778 9815 to give us your details. Once you share your details, one of our representatives will get in touch with you and take you forward on the Listing.</p>
<h3>How much does it cost to list my property?</h3>
<p>Nothing. It&#8217;s free to list with fibiachomes.<br />
What&#8217;s more? We look for tenants for you.</p>
<h3>Steps to list with fibiachomes</h3>
<p>Step 1. You share your details with fibiachomes<br />
Step 2. fibiachomes performs a Property inspection<br />
Step 3. We sign the Agreement and begin on-boarding your house on fibiachomes<br />
Step 4. We take professional photographs of your house and publish the house on our website<br />
Step 5. Tenants express interest and schedule a visit to your house<br />
Step 6. Once your house matches a tenant&#8217;s expectation, the tenant completes our verification form and submits the required documents. We carry out due diligence on tenant to determine tenant&#8217;s eligibility. We submit the eligibility result to you for your final approval if tenant is eligible<br />
Step 7: We draft the tenancy agreement to be signed by tenant and you<br />
Step 8: We transfer rent to you</p></p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo1">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#paymentcollapseTwo" aria-expanded="false" aria-controls="paymentcollapseTwo">
												  Property Inspection
												</button>
											  </h2>
											</div>
											<div id="paymentcollapseTwo" class="collapse" aria-labelledby="headingTwo1" data-parent="#paymentac">
											  <div class="card-body">
												<p class="ac-para"><h2 id="property-inspection"><span style="color: #00cda6;">Property Inspection</span></h2>
<h3>Why does fibiachomes perform a house inspection?</h3>
<p>fibiachomes performs inspection on all prospective houses. This is done in order to check if the house meets the fibiachomes standards.</p>
<h3>What does fibiachomes look for during house inspection?</h3>
<p>fibiachomes checks if the house is as stated by the owner, is in a livable condition and is in a safe neighborhood.</p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree1">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#paymentcollapseThree" aria-expanded="false" aria-controls="paymentcollapseThree">
												  House Offers Terms and Conditions
												</button>
											  </h2>
											</div>
											<div id="paymentcollapseThree" class="collapse" aria-labelledby="headingThree1" data-parent="#paymentac">
											  <div class="card-body">
												<p class="ac-para">Prospective tenants will be able to view house offers on website as soon as offer is approved by the owner and created by fibiachomes.
House offers will be shown on website until offers expiry.
After a successful update of offer, new offer comes into effect and the same will be displayed on house details page.
Offer can be deactivated anytime by sending an email to customer@fibiachomes.com, it will no longer be shown to the prospective tenants.</p>
											  </div>
											</div>
										</div>
									</div>

								</div>

								<!-- general Query -->
								<div class="tab-pane fade" id="upgrade" role="tabpanel" aria-labelledby="upgrade-tab">

									<div class="accordion" id="upgradeac">
										<div class="card">
											<div class="card-header" id="headingOne2">
											  <h2 class="mb-0">
												<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#upgradecollapseOne" aria-expanded="true" aria-controls="upgradecollapseOne">
												  How To Upgrade Rikada Theme?
												</button>
											  </h2>
											</div>

											<div id="upgradecollapseOne" class="collapse show" aria-labelledby="headingOne2" data-parent="#upgradeac">
											  <div class="card-body">
												<p class="ac-para">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingTwo2">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#upgradecollapseTwo" aria-expanded="false" aria-controls="upgradecollapseTwo">
												  Rikada available for WordPress Version?
												</button>
											  </h2>
											</div>
											<div id="upgradecollapseTwo" class="collapse" aria-labelledby="headingTwo2" data-parent="#upgradeac">
											  <div class="card-body">
												<p class="ac-para">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
											  </div>
											</div>
										</div>
										<div class="card">
											<div class="card-header" id="headingThree2">
											  <h2 class="mb-0">
												<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#upgradecollapseThree" aria-expanded="false" aria-controls="upgradecollapseThree">
												  Why We need to upgrade Rikada?
												</button>
											  </h2>
											</div>
											<div id="upgradecollapseThree" class="collapse" aria-labelledby="headingThree2" data-parent="#upgradeac">
											  <div class="card-body">
												<p class="ac-para">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
											  </div>
											</div>
										</div>
									</div>

								</div>

							</div>

						</div>

					</div>
				</div>
			</section>
			<!-- ================= Our Mission ================= -->


			<!-- ============================ Footer Start ================================== -->
{% endblock %}