<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>FIBIAC - Powerful Residence Real Estate Site in Port Harcourt</title>

        <!-- All Plugins Css -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/nav.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootsnav.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />


        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet">

    </head>

    <div class="green-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="top-header">
				<div class="container">
					<div class="row">

						<div class="col-lg-6 col-md-6">
							<div class="cn-info">
								<ul>
									<li><i class="lni-phone-handset"></i>234 0902 6190 497</li>
									<li><i class="ti-email"></i>Info@fibiachome.com</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<ul class="top-social">
								<li><a href="#"><i class="lni-facebook"></i></a></li>
								<li><a href="#"><i class="lni-linkedin"></i></a></li>
								<li><a href="#"><i class="lni-instagram"></i></a></li>
								<li><a href="#"><i class="lni-twitter"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="header header-light nav-left-side">
				<nav class="headnavbar">
					<div class="nav-header">
							<a href="{% url 'home' %}" class="brand"><h2>F<span style="Color:#53b772;">I</span>BIAC</h2></a>
						<button class="toggle-bar"><span class="ti-align-justify"></span></button>
					</div>
					<ul class="menu">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'listing' %}">Listing</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'faq' %}">Faq</a></li>
						<li><a href="{% url 'subscribe' %}">Subscribe Now</a></li>
						<li><a href="{% url 'contact' %}">Contact us</a></li>
					</ul>
					<ul class="attributes attributes-desk">
						<!-- <li class="log-icon log-seprate"><a href="#" data-toggle="modal" data-target="#login">Log In</a></li>
						<li class="log-icon"><a href="#" data-toggle="modal" data-target="#signup">Sign Up</a></li> -->
						<!-- <li class="submit-attri theme-log"><a href="submit-property.php">Submit Property</a></li> -->
		</ul>
	</nav>
</div>
{% block content %} {% endblock %}

			<footer class="dark-footer skin-dark-footer">
  <div>
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">About fibiachomes</h4>
            <p>fibiachomes features homes for sale in all states. fibiachomes online search portal of property listings gives you the ability to refine your search criteria by different factors, including geographical location.</p>
            <a href="#" class="other-store-link">
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">Useful links</h4>
            <ul class="footer-menu">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'faq' %}">FAQs Page</a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">Get in Touch</h4>
            <div class="fw-address-wrap">
              <div class="fw fw-location">
                #2 ambassador Joe ehoro cressent elelenwo
              </div>
              <div class="fw fw-mail">
                <a href="https://codeminifier.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="94e7e1e4e4fbe6e0d4f0e6fdeee2f5e0fba3a3baf7fbf9">[email&#160;protected]</a>
              </div>
              <div class="fw fw-call">
                +234 902 619 0497
              </div>
              <div class="fw fw-skype">
                fibiachomes
              </div>
              <div class="fw fw-web">
                <a href="www.fibiachomes.com">
                www.fibiachomes.com
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget">
            <h4 class="widget-title">Follow Us</h4>
            <p>Follow & Subscribe your email to get new business tips.</p>
            <ul class="footer-bottom-social">
              <li><a href="https://web.facebook.com/fibiachomess-102484724693780/"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-linkedin"></i></a></li>
            </ul>

            <form class="f-newsletter mt-4">
              <input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
              <button type="submit" class="btn"><i class="ti-arrow-right"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 text-center">
          <p class="mb-0">© 2019 fibiachomes. Designd By <a href="#">Simvic</a> All Rights Reserved</p>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- ============================ Footer End ================================== -->


<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>


</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- Color Switcher -->
<div class="style-switcher">
<div class="css-trigger"><a href="#"><i class="ti-settings"></i></a></div>
<div>
  <ul id="themecolors" class="m-t-20">
    <li><a href="javascript:void(0)" data-skin="default-skin" class="default-theme">1</a></li>
    <li><a href="javascript:void(0)" data-skin="red-skin" class="red-theme">2</a></li>
    <li><a href="javascript:void(0)" data-skin="green-skin" class="green-theme">3</a></li>
    <li><a href="javascript:void(0)" data-skin="blue-skin" class="blue-theme">4</a></li>
    <li><a href="javascript:void(0)" data-skin="yellow-skin" class="yellow-theme">5</a></li>
    <li><a href="javascript:void(0)" data-skin="purple-skin" class="purple-theme">6</a></li>
    <li><a href="javascript:void(0)" data-skin="oceangreen-skin" class="oceangreen-theme">7</a></li>
    <li><a href="javascript:void(0)" data-skin="goodgreen-skin" class="goodgreen-theme">8</a></li>
    <li><a href="javascript:void(0)" data-skin="goodred-skin" class="goodred-theme">9</a></li>
    <li><a href="javascript:void(0)" data-skin="blue2-skin" class="blue2-theme">10</a></li>
  </ul>
</div>
</div>
	</div>
</div>
</div>
</div>

</div>

<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/rangeslider.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/slider-bg.js' %}"></script>
<script src="{% static 'assets/js/lightbox.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/coreNavigation.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/js/cl-switch.js' %}"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->

</body>
</html>
