{% extends 'layouts.html' %}

{% block content %}
    <!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<div class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<h2 class="ipt-title">Pricing</h2>
							<span class="ipn-subtitle">Lists of our all Popular agencies</span>

						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Page Title End ================================== -->

			<!-- ============================ Agency List Start ================================== -->
			<section>

				<div class="container">

					<div class="row">
						<div class="col text-center">
							<div class="sec-heading center">
								<h2>See our packages</h2>
								<p>We offer best and smart packages for you.</p>
							</div>
						</div>
					</div>

					<div class="row">

						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap">

								<div class="pricing-header">
									<i class="lni-layers"></i>
									<h4 class="pr-title">Basic Package</h4>
									<span class="pr-subtitle">Start With Basic Package</span>
								</div>
								<div class="#">
									<h4 class="pr-value">3000</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li>2+ Listings</li>
										<li>Contact With Agent</li>
										<li>3 Day Featuring</li>
										<li>1 month validity</li>
										<li>Advert placement (1 Week)</li>
									</ul>
								</div>
								<!-- <div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div> -->

							</div>
						</div>

						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap recommended">

								<div class="pricing-header">
									<i class="lni-diamond"></i>
									<h4 class="pr-title">Platinum Package</h4>
									<span class="pr-subtitle">Start With Platinum Package</span>
								</div>
								<div class="#">
									<h4 class="pr-value">5000</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li>5+ Listings</li>
										<li>Contact With Agent</li>
										<li>7 Day Featuring</li>
										<li>3 Month Validity</li>
										<li>Advert placement (2 Week)</li>
									</ul>
								</div>
<!-- 								<div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div> -->

							</div>
						</div>

						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing-wrap">

								<div class="pricing-header">
									<i class="lni-invention"></i>
									<h4 class="pr-title">Standard Package</h4>
									<span class="pr-subtitle">Start With Standard Package</span>
								</div>
								<div class="#">
									<h4 class="pr-value">9000</h4>
								</div>
								<div class="pricing-body">
									<ul>
										<li>8+ Listings</li>
										<li>Contact With Agent</li>
										<li>3 Month Validity</li>
										<li>21 Day Featuring</li>
										<li>Listing Linking to other blog</li>
										<li>Advert placement (2 Week)</li>
									</ul>
								</div>
								<!-- <div class="pricing-bottom">
									<a href="#" class="btn-pricing">Choose Plan</a>
								</div> -->

							</div>
						</div>

					</div>

				</div>

			</section>
			<!-- ============================ Agency List End ================================== -->

			<!-- ============================ Footer Start ================================== -->
{% endblock %}